body {
    background-image: url("../img/ranking.png");
    backdrop-filter: blur(2px);
}

main {
    background-image: none;
    border-color: rgba(142, 136, 160, 0.4);
    background-color: rgba(28, 3, 3, 0.3);
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > * {
    margin: 32px;
}

.classment-container {
    border: solid 3px rgba(255, 255, 255, 0.53);
    border-radius: 32px;
    width: 80%;
    height: 80%;
    background-color: rgba(33, 2, 58, 0.6);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

@keyframes start {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.classment-container .rank {
    width: 100%;
    border: solid 2px white;
    border-radius: 22px;
    margin: 8px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    transition: all 0.3s;
    animation: start 1s;
    opacity: 100%;
}
.classment-container .rank.primary {
    width: 100%;
    border: solid 0;
    background-color: rgba(44, 6, 100, 0.6);
    backdrop-filter: blur(28px);
    border-radius: 22px;
    margin: 0;
    padding: 4px 12px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    transition: all 0.3s;
    position: sticky;
}

.classment-container .rank:nth-child(3) {
    padding: 20px 12px;
    background-color: rgba(178, 48, 229, 0.29);
    box-shadow: 0px 0px 24px 6px rgba(122, 45, 255, 0.84);
}
.classment-container .rank:nth-child(4) {
    padding: 12px 12px;
    background-color: rgba(163, 48, 229, 0.18);
    box-shadow: 0px 0px 24px 6px rgba(45, 55, 255, 0.32);
}
.classment-container .rank:nth-child(5) {
    padding: 10px 12px;
    background-color: rgba(81, 48, 229, 0.1);
}


.classment-container .rank:hover {
    opacity: 80%;
    cursor: pointer;
}

.classment-container .rank .number {
    font-size: 18px;
    width: 10%;
}
.classment-container .rank .name {
    width: 70%;
}
.classment-container .rank .player-score {
    width: 10%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgba(0, 0, 0, 0); /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    opacity: 100%;
    transition: all 0.4s;
    animation: spin 2s linear infinite;
    z-index: 1;
    top: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader:not(.visible) {
    opacity: 0;
}

::-webkit-scrollbar {
    width: 16px;
}

/* Style the scrollbar track (background) */
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    margin: 16px;
}

::-webkit-scrollbar-thumb {
    background: rgba(73,0,164,0.6);
    background: linear-gradient(3deg, rgba(73,0,164,0.6) 0%, rgba(255,0,153,0.6) 100%);
    border-radius: 8px;
}

/* Hide the scrollbar buttons */
::-webkit-scrollbar-button {
    display: none;
}