@font-face {
    font-family: MainFont;
    src: url('../Pavelt.ttf');
}

@font-face {
    font-family: SecondaryFont;
    src: url('../hack.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: MainFont;
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('../img/mehdi.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    color: rgb(211, 211, 211);
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    padding: 32px;
}

.nav-element {

    margin-left: 32px;
    
}

a.nav-element {
    
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;
    
}
a.nav-element:hover {

    transform: scale(1.3);

}

.nav-element.selected {

    border-bottom: 2px solid #fff;

}

img.nav-logo {
    height: 64px;
    margin-right: 16px;
}

.nav-logo {

    justify-self: flex-start;
    margin-right: auto;
    font-size: 48px;
}
.nav-logo a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: 50% 50%;
}

.main-section {

    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

@keyframes wavy {
    0% { animation-timing-function: linear; }
    25% { 
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    75% { 
        transform: translateY(8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: linear;
    }
}

.main-section .title {

    font-weight: bold;
    font-size: 78px;
    filter: drop-shadow(5px 5px 16px rgb(255, 255, 255, 0.4));
    transition: all 2s;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.title .title-letter {
    animation: wavy 1.8s infinite;
    animation-delay: 0s;
}

.title-letter:nth-child(1) { animation-delay: 0.15s; }
.title-letter:nth-child(2) { animation-delay: 0.3s; }
.title-letter:nth-child(3) { animation-delay: 0.45s; }
.title-letter:nth-child(4) { animation-delay: 0.6s; }
.title-letter:nth-child(5) { animation-delay: 0.75s; }
.title-letter:nth-child(6) { animation-delay: 0.9s; }
.title-letter:nth-child(7) { animation-delay: 1.05s; }
.title-letter:nth-child(8) { animation-delay: 1.2s; }


.main-section .title-description {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    transition: all 2s;
}

.main-section .title-description.visible {
    opacity: 100%;
    margin-top: 20px;
}

p {
    font-size: 20px;
    font-family: SecondaryFont, sans-serif, monospace;
}

.card {

    position: absolute;
    width: 12vw;
    height: 40vh;
    background-color: aqua;
    -webkit-box-shadow: 2px 5px 29px 5px rgba(0,0,0,0.42); 
    box-shadow: 2px 5px 29px 5px rgba(0,0,0,0.42);
    transition: transform 1s, filter 1s, z-index 1s;

    border-radius: 16px;
    background-size:cover;
    background-position: center;

}

.card#card0 { background-image: url("../img/dualipa.jpg");}
.card#card1 { background-image: url("../img/marshmellow.png");}
.card#card2 { background-image: url("../img/michael.webp");}
.card#card3 { background-image: url("../img/shakira.jpg");}
.card#card4 { background-image: url("../img/angele.jpg");}


footer {
    height: 150px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
}

.secondary-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-section .move-button {

    background: none;
    border: none;
    padding: 0;
    margin: 0;
    overflow: visible;
    outline: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-image: url("../img/arrow.png");
    background-size: cover;
    transition: all 0.4s;
    opacity: 80%;
    align-self: flex-end;
    margin-bottom: 32px;
    z-index: 200;
}

.secondary-section .move-button.left {
    margin-right: auto;
    transform: scaleX(-1);
}

.play-button {
    border: 1px solid #000; /* Adding a border for visibility */
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 16px;
    border-radius: 12px;
    transition: all 0.5s;
    opacity: 0.7;
    position: absolute;
    font-size: 24px;
    bottom: 20%;
    background: rgb(177,73,181);
    background: -moz-linear-gradient(137deg, rgba(177,73,181,1) 0%, rgba(246,39,163,1) 100%);
    background: -webkit-linear-gradient(137deg, rgba(177,73,181,1) 0%, rgba(246,39,163,1) 100%);
    background: linear-gradient(137deg, rgba(177,73,181,1) 0%, rgba(246,39,163,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b149b5",endColorstr="#f627a3",GradientType=1);
    animation: playButton 1s ease;
    animation-delay: 1.5s;
}

@keyframes playButton {
    0% {
        opacity: 0;
        transform: scale(5%);
    }
    100% {
        opacity: 0.7;
    }
}

.play-button:hover {
    opacity: 1;
}